.form-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-container {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.dropdown-btn {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.arrow.up {
  transform: translateY(-50%) rotate(-135deg);
}

.arrow.down {
  transform: translateY(-50%) rotate(45deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu label {
  display: block;
  margin-bottom: 5px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.produce-list {
  list-style-type: none;
  padding: 0;
}

.produce-list li {
  margin-bottom: 5px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.produce-list li:hover {
  background-color: #eaeaea;
}
